$graphite: #808080;
$drk-graphite: darken($graphite, 20);

$medium-break: 40em;
$large-break: 64em;
$xlarge-break: 90em;
$xxlarge-break: 120em;

header {
  background-image: url("/assets/img/paper.png");
  padding: 1.125rem 0;
  position: relative;
  z-index: 200;

  @media screen and (min-width: $medium-break) {
    padding: 1.125rem 0 1.75rem 0;
  }

  &.no-touch div.row nav li #search {
    &:hover {
      background: url('/assets/img/search-drk.svg') rgba(255, 255, 255, 0.7);
      background-position-x: calc(100% - 0.55rem);
      background-position-y: calc(100% - 50%);
      background-repeat: no-repeat;
      background-size:1.25rem;
      color: $drk-graphite;
  
      @media screen and (min-width: $medium-break) {
        background-size:1.5rem;
      }
    }

    &:focus, &focus:hover {
      position: absolute;
      left:1rem;
      background-image: url('/assets/img/search-wht.svg'), url('/assets/img/grey-brush.png');
      background-color: #ffffff;
      background-position-x: calc(100% - 0.55rem), 50%;
      background-position-y: calc(100% - 50%), 50%;
      background-size:1.25rem, 200% 140%;
      background-repeat: no-repeat;
      width: calc(100% - 2rem);
      color: #fff;
      z-index: 100;

      @media screen and (min-width: $medium-break) {
        background-size:1.5rem, 200% 140%;
        left: 0;
        width: calc(100% - 1rem);
      }
    }
  }

  div.row {
    margin: auto;

    nav {

      @media screen and (min-width: $medium-break) {
        position: relative;
      }

      ul {
        margin:0;
        padding:0;

        &.row.align-right {
          max-width: 100%;
          margin:0;
        }

        li {
          display: inline-block;
          padding: 0;
          text-align: center;
          
          @media screen {
            margin-right: 0.5rem;
          }

          @media screen and (min-width: $medium-break) {
            margin-right: 0.6875rem;
          }

          &.search {
            overflow: visible;
            form {
              height:auto;
              margin: 0;
            }
            button {
              display:none;
            }
          }

          #search {
            border: none;
            box-shadow: none;
            border-radius: 0.3rem;
            background: url('/assets/img/search.svg') rgba(255, 255, 255, 0.5);
            background-position-x: calc(100% - 0.55rem);
            background-position-y: calc(100% - 50%);
            background-repeat: no-repeat;
            color: #808080;
            height: auto;
            margin:0;
            line-height: 1.5rem;

            @media screen {
              background-size:1.25rem;
            }

            @media screen and (min-width: $medium-break) {
              background-size:1.5rem;
            }

            &:focus, &focus:hover {
              position: absolute;
              left: 1rem;
              background-image: url('/assets/img/search-wht.svg'), url('/assets/img/grey-brush.png');
              background-color: #ffffff;
              background-position-x: calc(100% - 0.55rem), 50%;
              background-position-y: calc(100% - 50%), 50%;
              background-size:1.25rem, 200% 140%;
              background-repeat: no-repeat;
              color: #fff;
              width: calc(100% - 2rem);
              z-index: 100;

              @media screen and (min-width: $medium-break) {
                background-size:1.5rem, 200% 140%;
              }
            }
          }

          a {
            cursor: pointer;
          }
          
          a, #search {
            display: inline-block;
            font-weight: 300;
            line-height: 1.375rem;
            font-size: 1.25rem;
            padding: 0.3rem;

          @media screen and (min-width: $medium-break) {
            font-size: 1.5rem;
            line-height: 1.625rem;
            padding: 0.4rem 0.5rem 0.5rem 0.5rem;
          }

            &:link, &:active, &:visited {
              color: $graphite;
              border: none;
              text-decoration: none;
            }
          }

          a:hover {
            color: $drk-graphite;
          }

          &.user {
            font-size:1.25rem;

            @media screen and (min-width: $medium-break) {
              position: relative;
            }
            
            > a {
              font-family: 'font-awesome-light';
              padding: 0.3125rem;
              min-width: 2rem;

              @media screen and (min-width: $medium-break) {
                padding: 0.5rem;
                min-width: 2.625rem;
              }

              &.logged-in {
                font-family: 'font-awesome-solid';

                &.picture {
                  padding: 0.3125rem;

                  @media screen and (min-width: $medium-break) {
                    padding: 0.375rem;
                  }
  
                  img {
                    width: 1.375rem;
                    border-radius: 0.25rem;

                    @media screen and (min-width: $medium-break) {
                      width: 1.75rem;
                      border-radius: 0.25rem;
                    }
                  }
                }
              }

              @media screen and (min-width: $medium-break) {
                font-size: 1.5rem;
              }
            }

            ul.user-menu {
              display: none;
              position: absolute;
              background-color: #fff;
              background-image: url("/assets/img/grey-brush.png");
              background-size: auto 125%;
              background-position: 50% 50%;
              z-index: 300;
              width: 100vw;
              right: 0;

              @media screen and (min-width: $medium-break) {
                width: auto;
              }

              li {
                margin: 0;
                width: 100%;

                a {
                  min-width: 15rem;
                  width: 100%;
                  color: #fff;
                  padding: 0.75rem 0.75rem 0.875rem 0.75rem;
                  font-size: 1rem;
                  font-weight: normal;
                  cursor: pointer;
                  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.3);

                  @media screen and (min-width: $medium-break) {
                    font-size: 1.25rem;
                  }

                  &:hover {
                    background-color: rgba(0, 0, 0, 0.2);
                  }
                }
              }
            }
            
            &:hover {
              background-color: #fff;
              background-image: url("/assets/img/grey-brush.png");
              background-size: auto 130%;
              background-position: 50% 50%;
              a{
                color: #ffffff;
              }

              ul.user-menu {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .logo {
    text-align: center;
    margin-bottom: 0.375rem;

    a {
      display: inline-block;
      width: 75%;
      max-width: 240px;

      @media screen and (min-width: $medium-break){
        max-width:290px;
      }
    }

    img {
      width: 100%;
    }

    @media screen and (min-width: $medium-break){
      text-align: left;
      margin-bottom: -1.95%;
    }
  } 

  div.orange-line {
    background-image: url("/assets/img/orange-line.svg");
    background-position-x: 50%;
    height: 1.125rem;
    position: absolute;
    width: 100%;
    bottom: -0.5625rem;
    background-repeat: no-repeat;
    background-size: cover;
  }
}