$medium-break: 40em;
$large-break: 64em;
$xlarge-break: 90em;
$xxlarge-break: 120em;

footer {
  background-image: url('/assets/img/grey-brush.png');
  background-position-x: calc(100% - 50%);
  background-size: auto 120%;
  color: #fff;
  margin-top: 3rem;
  padding-top: 1.5rem;
  height: auto;
  background-repeat: none;
  position: absolute;
  bottom:0;
  width: 100%;

  &.no-touch {
    a {
      &:link:hover, &visited:hover {
        border-bottom: 0.06rem solid #ffffff;
      }
    }
  }

  a {
    &:link, &:visited, &:link:hover, &:visited:hover {
      color: #ffffff;
      border-bottom: none;
      font-weight: normal;

      @media screen {
        font-size: 0.875rem;
      }

      @media screen and (min-width: $medium-break) {
        font-size: 1.125rem;
      }
    }
  }
  div, p {
    text-align:center;
  }

  p {
    margin:0.5rem 0;
    font-weight: 300;
    font-size:0.875rem;

    a:link {
      margin:0.5rem 0;
      font-weight: 300;
      font-size:0.875rem;
      @media screen and (min-width: $medium-break) {
        font-size: 1rem;
      }
     &:hover {
        font-weight: 300;
        border-bottom: 0.0625rem solid white;
        font-size:0.875rem;
        @media screen and (min-width: $medium-break) {
          font-size: 1rem;
        }
      }
    }

    span {
      display: inline-block;
      padding-right: 2rem;
    }

    @media screen and (min-width: $medium-break) {
      font-size: 1rem;
    }
  }
}