$light-graphite: #999999;
$maui-orange: #ffaa00;
$graphite: #808080;
$error-red: #ff5800;
$blue-hydrangea: #4097ff;
$light-hydrangea: lighten($blue-hydrangea,14.9%);

$medium-break: 40em;
$large-break: 64em;
$xlarge-break: 90em;
$xxlarge-break: 120em;

#campaignsPage {
  #searchCampaigns {
    h1 {
      margin-bottom: 0.5rem;

      span.search {
        color: $light-hydrangea;
      }
    }
    h2.sort-method {
      color: $blue-hydrangea;
      margin: 0;
  
      span.icon {
        font-size: 1rem;
  
        @media screen and (min-width: $medium-break) {
          font-size: 1.125rem;
        }
      }
    }
  
    .sortOptions {
      ul {
        li {
          margin: 0.125rem 0;
          a:link, button {
            padding: 0.0625rem 0.375rem;
          }
        }
      }
    }
  }
}