$light-graphite: #999999;
$maui-orange: #ffaa00;
$graphite: #808080;
$error-red: #ff5800;
$blue-hydrangea: #4097ff;

$small-break: 23.125rem;
$medium-break: 40em;
$large-break: 64em;
$xlarge-break: 90em;
$xxlarge-break: 120em;

#stopConf {
  padding-top: 0.75rem;
  p {
    font-size: 1.125rem;
    line-height: 1.5rem;

    @media screen and (min-width: $medium-break){
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
  }

  button.primary {
    margin-top: 1.75rem;
  }
}